.action-box > a{
    letter-spacing: 2px;
    font-size: 16px;
    color: black !important;
    text-decoration: none !important;
}

.grid-container{
    display: flex;
    width:150px;
    height:150px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #cccc;
    cursor: pointer;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
    user-select: none;

    &:hover{
        background-color: azure;
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }

    &:active, &:focus{
        transform: translateY(-0.2rem);
    }

    & > .icon{
        display: block;
    }

    & > .icon > span{
        font-size: 1rem;
        color:#424242 ;
    }

    & > .title{
        display: block;

    }

}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
