.page-header{
  background: #203A45;
  padding: 15px 0 35px 0;
  border-bottom-width:5px;
  border-bottom-style:solid;
  border-bottom-color:#008B8B;

  &-row{
    flex-wrap: nowrap;

    @include media-breakpoint-down(sm){

      flex-wrap: wrap;

      & > div {
        @include make-col(12);
      }

      & > div:nth-child(2){
        padding-left: 2.5rem !important;
      }

    }

  }

  &-title{
    color: white;
    font-weight: 500;
    margin-left: 1.4rem;
  }

  &-breadcrumb{

    background-color: transparent !important;
    padding: 0;
    margin-left: 1.4rem;

    &-item{
       color:white;

       &-active{
         color: salmon !important;
         font-weight: 500;
       }

        & > a {
          color:white;
        }

        & > a:hover{
          text-decoration: none;
        }

    }

  }

  &-input-search{
    background-color: rgba(#20B2AA, 0.2) !important;
    color: white !important;
    border-radius: 0.1rem !important;
    border: none;
  }

  &-input-search::-webkit-input-placeholder{
    color: snow !important;
  }
}