.backend-top-navbar{

  padding:0 !important;
  padding-top:3.5rem !important;
  padding-bottom: 1rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;

  background-color: #203A45;
  
  & > a{
    color: white !important;
  }

  &-child{

    & > li > a{
      color: white !important;
    }

  }

  &-dropdown{
    margin: 0 !important;
    margin-top: 0.6rem !important; 
  }

  &-menubars_icon{
    font-size:1.5rem;
    color: white;
  }

}

