.container{

    & > .row{
      @include media-breakpoint-down(sm){
        padding-left:5px;
        padding-right:5px;
      }
    }
}

.form-div{
  background-color: white;
  border:1px solid white;
  border-radius: 10px;
  border-top: 4px solid yellowgreen !important;
}

.form-header-box{

  @include media-breakpoint-down(sm){
    padding-right: 0 !important;
    padding-left: 0 !important;
  }


  & > ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: flex-end;

    @include media-breakpoint-down(sm){
        padding-left:0 !important;
    }

    & > li:not(:last-child){
      margin-right: 1.5rem;
    }

    & > li > a{
      color: black !important;
      text-decoration: none !important;
      letter-spacing: 3px;
      font-size: 1.1rem !important;
    }

    & > li > a:hover{
        color: #9ACD32 !important;
    }

  }

  &-save{
    background: none !important;
    border: none !important;
    cursor: pointer;
    letter-spacing: 3px;
    font-size: 1.1rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  &-save:hover{
    color: #9ACD32 !important;
  }

  &-save:active, &-save:focus{
    outline: none !important;
  }

  &-attachment{
    background: none !important;
    border: none !important;
    cursor: pointer;
    letter-spacing: 3px;
    font-size: 1.1rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;    
  }

  &-attachment:hover{
    color: #9ACD32 !important;
  }

  &-attachment:active, &-attachment:focus{
    outline: none !important;
  }

}

.index-header-box{

    & > div > div > div > a{
      color: black !important;
      text-decoration: none !important;
      letter-spacing: 3px;
      font-size: 1.1rem !important;      
    }

    & >  div > div > div > a:hover{
      color: #9ACD32 !important;
    }
}

.attachments-viewer{

  @include media-breakpoint-down(sm){
    justify-content: center;
  }

}

.attachment-form-alert-box{
  display: none;

  & > ol{
    list-style: none;
    padding-left: 0 !important;
  }

}

.files-attachment-link{
  text-decoration: none !important;
  color: black;
}

.files-attachment-box{
    width:250px;
    cursor: pointer;

    &:hover{
      background-color: beige;
    }

    &-image{
      width:100px;
      height:66px;
      text-align: center;

      & > img{
        width:100%;
        height: 100%;
        object-fit: cover;
      }

      & > .extension_logo{
        width: 60% !important;
      }

    }
}

.datatable{

  &-iteration{
    width: 8% !important;
    text-align: center;

    @include media-breakpoint-down(sm){
      width: 10%;
    }
  }

  &-editbar{
    width:15% !important;

    & > div > div > a{
      color: black;
    }

    & > div > div > a:hover{
      color: #9ACD32 !important;
    }

  }

}